<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <table class="table">
                  <thead>
                  <tr>
                      <th>Name</th>
                      <th>Url</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="url in urldata">
                      <td>{{ url.title}}</td>
                      <td>{{ url.url}}</td>
                  </tr>
                  </tbody>

              </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PropComponent",
        mounted() {
            this.update()
        },
        props: [
            'urldata'
        ],
        methods: {
            update: function(){
                console.log(this.urldata)
            }
        }
    }
</script>

<style scoped>

</style>